@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.controlled {
  background-color: rgba(204, 204, 204, 0.5);
}

.clone {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(94, 0, 0, 0.521) 10px,
    rgba(94, 0, 0, 0.521) 20px
  );
  opacity: 0.1;
}
